<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!-- /.col -->
      <div class="col-md-10">
        <div class="card card-primary">
          <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div #calendar>
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<ng-template #modalDeleteMyReservation>
  <h2 mat-dialog-title>Eliminar Reserva</h2>
  <mat-dialog-content>
    <p style="padding-top: 20px;"><strong>Fecha:</strong> {{fechaReservaModal}}</p>
    <p><strong>Turno:</strong> {{turnoReservaModal}}</p>
    <p><strong>Hora de inicio:</strong> {{horaReservaModal}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="color: white;">No</button>
    <button mat-raised-button color="warn" (click)="deleteUserReservation(idReservaModal, fechaReservaModal, horaReservaModal)">Si</button>
  </mat-dialog-actions>
</ng-template>